@media (max-width: 1000px) {
    header h1 {
        font-size: 40px;
    }


    svg {
        width: 80px;
        height: 80px;

    }

    .about h3 {
        line-height: 35px;
        width: auto;
        color: white;
    }

    path {
        stroke-width: 0.5px;
    }

    .info {
        display: block;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;

    }

    h2 {
        margin-bottom: 0%;
        font-size: 40px;
    }


    .copycontract h3 {
        margin-left: 10px;
    }


    h3 {
        font-size: 20px;
        -webkit-text-stroke-width: 0px;
        font-weight: 300;
        width: auto;
    }


    .infoinner {

        width: auto;
        height: auto;
        /* display: inline-block; */
    }


    .infoinner2 {

        width: auto;
        height: auto;
        /* display: inline-block; */
    }

    .copycontract {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    .copycontract h3 {
        font-size: 13px;
        color: white;
    }

    .tokenomicscard {
        width: 300px;
        height: auto;
        /* display: inline-block; */
    }

    .info2 {
        display: block;
    }

    .howtobuycard {
        width: 300px;
        height: auto;
        color: white;
        /* display: inline-block; */
    }
    .howtobuycard h3{
        color: aliceblue;
    }
}